.main-keyboard-view {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px
}

.keyboard-cancel-btn {
  height: 60px;
  width: 250px;
  background-color: red;
  font-size: 30px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.keyboard-submit-btn {
  height: 60px;
  width: 250px;
  background-color: green;
  font-size: 30px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.simple-keyboard {}

.hg-theme-default {
  font-size: 30px;
}

.input-keyboard {
  width: -webkit-fill-available;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}