.product-list-view {
  min-height: calc(100vh - 90px);
  padding-top: 110px
}

.product-list-card {
  display: -webkit-inline-box;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 30px;
}

.product-list-card-view {
  margin-left: 20px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.product-card-image-view {
  width: 40%;
  height: 100%;
}

.product-card-details-view {
  width: 55%;
  padding: 5px;
}


.product-not-found-main-view {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.product-not-found-view {
  display: flex;
  justify-content: center;
  height: 100%;
  align-self: center;
  align-items: center;
}

.product-not-found-text {
  text-align: center;
  color: #000;
  padding: 10px;
  border-radius: 20px;
}

