.loading-home-screen-view {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 999999999999;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.60);
}

.home-screen {
    background-color: #e2ebf3;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #707070;
}

.dave-ai-logo-header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 210px;
    height: auto;
    align-self: center;
}

.carousel-card-main {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.scanner-qr-code-view {
    height: 50px;
    width: 60%;
    background-color: #0a1498;
    justify-content: center;
    display: flex;
    align-self: center;
    align-items: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.home-slider-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.scanner-logo {
    width: 100px;
    height: 50px;
    -webkit-filter: brightness(5000%);
}

.find-your-size-icon {
    width: 60px;
    height: 50px;
    -webkit-filter: brightness(5000%);
}

.scanner-title {
    color: #fff;
    font-weight: bold;
    margin-left: 10px
}

.home-top-card-title {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    color: #000;
}

.home-top-card-offer {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    color: #000;
    margin-top: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tc-apply-view {
    width: 90%;
    justify-content: flex-end;
    display: flex;
    margin-bottom: 15px;
}

.tc-apply-text {
    font-size: 10px;
}

.qr-image-wrapper-border {
    z-index: 5;
    border: 2px solid #091398 !important;
    background-color: #707070;
    width: 200px;
    height: 200px;
    overflow: hidden;
    align-self: center;
}

.qr-image-wrapper section {
    background-color: #707070;
}

.qr-image-wrapper section div {
    border: 0px solid rgba(0, 0, 0, 0.3) !important;
    box-shadow: unset !important;
}

video {
    padding: 0px !important;
    margin-top: -73px !important;
    height: 500px !important;
    width: 500px !important;
    justify-content: center !important;
    margin-left: -73px !important;
    aspect-ratio: 350 / 00;
}

.ReactModal__Overlay {
    /*background-color: #707070 !important;*/
    /*bottom: 116px !important;*/
    z-index: 9;
}

.scan-qr-close-modal-view {
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    top: 0px;
}

.scan-qr-close-modal-icon {
    height: 15px;
    width: 15px;
    justify-content: center;
    align-self: center;
}

.qr-scanner-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 116px;
}

.scan-any-qr-code-text {
    color: #fff;
    margin-top: 80px;
    font-weight: 600;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.scan-any-qr-code-data {
    color: #fff;
    font-weight: 600;
    justify-content: center;
    display: flex;
    align-items: center;
}

.qr-within-the-scanner {
    color: #fff;
    margin-top: 30px;
    font-weight: 600;
    justify-content: center;
    display: flex;
    align-items: center;
}

.inactive-page-dots {
    margin-right: 10px;
    height: 5px;
    width: 5px;
    background-color: #7a7a7a;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.active-page-dots {
    margin-right: 10px;
    height: 10px;
    width: 10px;
    background-color: #7a7a7a;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.active-page-dots-view {
    flex-direction: row;
    display: flex;
    margin-top: -25px;
    z-index: 1;
    align-items: center;
}

.choose-qr-code-file-input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 0;
}

.choose-qr-code-file-btn {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 30px;
    margin-top: 30px;
}

.submit-qr-code-result-btn {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 30px;
    margin-top: 30px;
    width: 150px;
    text-align: center;
}

.did-the-product-fit-modal {
    height: 468px;
    width: 954px;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.selected-product-image-view {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.selected-product-image {
    height: 250px;
    width: 250px;
}

.did-the-product-fit-modal-title {
    font-size: 50px;
    color: #101A9B
}

.yes-no-modal-footer-view {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}

.yes-no-modal-footer-btn {
    background-color: #091398;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-code-input-view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}

.product-code-input {
    width: 80%;
    height: 60px;
    font-size: 30px;
    padding-left: 15px;
    border-radius: 10px;
}