.dropdown-select {
    border: 1px solid rgb(223, 223, 223);
    height: 63px;
    align-items: center;
    display: flex;
    border-radius: 10px;

}

.dropdown-select-wrapper {
    position: relative;
    font-size: 1.6rem;
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex
}

.dropdown-arrow {
    margin-right: 20px
}

.dropdown-select-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    cursor: pointer;
}

.dropdown-select-header-title {
    margin: 0 20px;
    font-weight: 600;
    color: #091398;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-select-list {
    position: absolute;
    margin: 61px 0;
    z-index: 10;
    width: 100%;
    background-color: white;
    font-weight: 700;
    text-align: left;
}

.custom-dropdown-select-list {
    position: absolute;
    margin: 90px 0;
    z-index: 10;
    width: 100%;
    background-color: white;
    font-weight: 700;
    text-align: left;
}

.dropdown-select-list-item {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    padding: 8px 10px;
    font-size: 1.5rem;
    line-height: 1.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.dropdown-select-btn {
    width: 100%;
    overflow: visible;
    margin: inherit;
    padding: inherit;
    border: none;
    background: inherit;
    font: inherit;
    line-height: normal;
    color: inherit;
    text-align: inherit;
    border-radius: 0;
    -webkit-appearance: none;
}

.dropdown-select-title {
    border: 1px solid #c3c3c3;
    padding: 20px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}

.caret-icon {
    display: grid;
}

.up-down-selector-arrow {
    height: 30px;
    width: 30px
}

.custom-dropdown-select {
    font-weight: 600;
    height: 90px;
}

.custom-dropdown-select-header-title {
    margin: 14px 20px;
    font-weight: 600;
    color: black;
    font-size: 32px;
}

.change-color-red {
    margin: 0 20px;
    font-weight: 600;
    background: transparent linear-gradient(90deg, transparent, #FE8989 100%) 0% 0% no-repeat padding-box;
    padding-right: 15px;
    height: 70px;
}

.change-color-green {
    margin: 0 20px;
    font-weight: 600;
    background: transparent linear-gradient(90deg, transparent, #21FF21 100%) 0% 0% no-repeat padding-box;
    padding-right: 15px;
    height: 70px;
}