.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    background-color: #e2ebf3;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 9999;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 4px 12px -6px black;
}

.header-back-icon {
    margin-left: 10px;
    color: #0a1498;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.home-btn-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn {
    margin-left: 10px;
    background-color: #0a1498;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fav-btn-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav-btn {
    margin-right: 10px;
    background-color: #0a1498;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    margin-right: 10px;
    margin-left: 120px;
    width: 100px;
    background-color: #0a1498;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dave-header-logo {
    width: 210px;
    height: auto;
}

.heart-icon-header {
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

.header-title {
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    color: #000
}