.product-screen {
    background-color: #e2ebf3;
    min-height: 100vh;
    flex-direction: column;
    color: #707070;
}

button {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

.product-title-image {
    width: 100%;
    object-fit: contain;

}

.product-image-border {
    border: 1px solid #707070;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-image-border-highlight {
    border: 2px solid #091398;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cross-price {
    position: relative;
    display: inline-block;
    color: #948D8D;
    font-size: 13px;
}

.cross-price::before,
.cross-price::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.cross-price::after {
    border-bottom: 1px solid #F84646;
    -webkit-transform: skewY(10deg);
    transform: skewY(10deg);
}

.real-price {
    color: #4E4E4E;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.form-control-choose-size {
    width: 95%;
    height: 34px;
    border-radius: 10px;
    border: 0px solid #091398;
    color: #091398;
    cursor: pointer;
    overflow: hidden;
    padding-left: 15px;
    font-size: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-control-choose-size-box-show {
    box-shadow: 0px 0px 6px #00000029;
    margin-top: 5px;
}

.form-control-choose-size-2 {
    width: 95%;
    font-size: 15px;
    height: 35px;
    border-radius: 10px;
    border: 0px solid #091398;
    color: #091398;
    cursor: pointer;
    overflow: hidden;
    padding-left: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-control-choose-size select,
.form-control-choose-size-2 select {
    border: 0px solid #091398;
    display: block;
    border: 0px;
    width: 70%;
}

.find-your-size-logo {
    height: 22px;
    width: 30px;
    -webkit-filter: brightness(50%);
    margin-right: 15px;
}

.view-information-logo {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.customize-logo {
    height: 22px;
    width: 22px;
    margin-right: 15px;
}

.basic-information-title {
    font-weight: bold;
}

.basic-information-input-title-view {
    margin-top: 10px;
    margin-bottom: 10px;
}

.basic-information-input-title {
    font-weight: bold;
    font-size: 14px;
}

.border-bottom-class {
    border-bottom: 0.5px solid #707070;
}

.horizontal-product-card {
    height: 150px;
    width: 250px;
    background-color: #fff;
    border: 0.5px solid #707070;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.swipe-arrow-left {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    cursor: pointer
}

.swipe-arrow-right {
    width: 20px;
    height: 20px;
    cursor: pointer
}

.product-card-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.qr-code-box {
    border: 0.5px solid #707070;
    justify-content: center;
    align-self: center;
    display: flex;
    padding: 10px;
    margin-top: 15px;
}

.input-border-mobile-number {
    border: 1px ridge #c1c1c1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    margin-top: 15px;
}

.mobile-number-input {
    width: 100%;
    background-color: transparent;
    border: 0px solid;
}

.mobile-number-input:focus {
    outline: none;
}

.qr-code-close-modal {
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 0px
}

.qr-code-scan-title {
    margin-top: 10;
    color: #666666;
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 80%;
}

.qr-code-enter-mobile-no-title {
    margin-top: 15px;
    color: #666666;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.phone-send-icon {
    margin-left: 10px;
    cursor: pointer;
}

.phone-number-error {
    color: red;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    align-Self: center;
}

.product-top-view {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 100px;
    height: 61%;
}

.product-top-two-view {
    display: flex;
    justify-content: space-between;
    height: 100%
}

.product-image-and-like-icon-view {
    width: 50%;
    padding-right: 6px;
    overflow: hidden
}

.product-image-alert-view-true {
    display: flex;
    height: 10%;
    width: 100%;
}

.product-image-alert-view {
    display: flex;
    width: 100%;
    height: 10%;
}

.product-3D-modal-view {
    background-color: rgba(255, 255, 255, 0.68);
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.img-warning-icon {
    height: 30px;
    width: 30px;
    align-self: center;
}

.img-warning-text {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    color: #4E4E4E;
}

.product-like-main-view {
    position: absolute;
    margin-top: 10px;
    display: flex;
    right: 50%;
    margin-right: 10px
}

.product-like-view {
    height: 37px;
    width: 37px;
    overflow: hidden;
    background-color: #091398;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-like-icon {
    height: 25px;
    width: 25px;
}

.product-img-right-icon-view {
    height: 37px;
    width: 37px;
    margin-left: 10px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-img-right-icon {
    height: 38px;
    width: 38px;
}

.product-detail-main-view {
    width: 50%;
    padding-left: 6px;
    /* display: flex; */
    justify-content: space-between;
    flex-direction: column;
}

.collection-title {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    color: #4E4E4E;
}

.collection-title-2 {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #0D0D0D;
    padding-top: 2px;
}

.collection-full-title-2 {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #0D0D0D;
    padding-top: 2px;
}

.product-slider-image {
    width: 100%;
    height: 290;
    background-color: #fff;
    cursor: pointer
}

.product-slider-img {
    object-fit: contain;
}

.like-product-view {
    background-color: #091398;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.like-product-icon {
    height: 18px;
    width: 18px;
}

.share-product-view {
    background-color: #091398;
    width: 30px;
    height: 30px;
    padding-right: 3px;
    margin-left: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.share-product-icon {
    height: 18px;
    width: 18px;
}

.availability-price-title {
    color: #4E4E4E;
    margin-top: 10px;
    font-weight: 600;
}

.drop-down-main-view {
    background-color: #091398;
    width: 100%;
    height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.submit-filter-btn-view {
    width: 100%;
    height: 38px;
    margin-top: 8px;
    margin-bottom: 5px;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    flex-direction: row;
    display: flex;
}

.find-your-size-title {
    color: #091398;
    font-size: 15px
}

.product-information-btn-main-view {
    background-color: #fff;
    width: 100%;
    height: 38px;
    margin-top: 5px;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.information-title {
    color: #fff;
    font-size: 15px
}

.filter-title {
    color: #4E4E4E;
    font-size: 18px;
    font-weight: 600
}

.show-related-products-title {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 15px;
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 600
}

.show-related-products-not-found-title {
    color: #4E4E4E;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    height: 217px;
    align-items: center;
}

.horizontal-card-product-title {
    color: #101A9B;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.horizontal-card-product-size {
    color: #4E4E4E;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}

.horizontal-card-product-cross-price {
    font-size: 13px;
    margin-top: 5px;
}

.horizontal-card-product-sell-price {
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 900;
    margin-top: 5PX
}

.horizontal-card-product-share-icon-view {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: #091398;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.horizontal-card-product-share-icon {
    height: 16px;
    width: 16px;
}

.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(226, 235, 243, 0.82);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    opacity: 0;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.custom-ui {
    justify-content: space-between;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.react-confirm-alert-title {
    font-size: 45px;
    margin: 0px;
    font-weight: 600;
}

.react-confirm-alert-message {
    font-size: 35px;
    margin: 0px;
    font-weight: 600;
    color: #101A9B;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
}

.react-confirm-alert-timer {
    font-size: 35px;
    margin: 0px;
    margin-left: 20px;
    font-weight: 600;
    color: #FF2A2A;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
}

.react-confirm-alert-button {
    margin-top: 20px;
    justify-content: flex-end;
    display: flex;
}

.react-confirm-alert-no-button {
    width: 150px;
    height: 55px;
    font-size: 30px;
    background-color: #d8d4d5;
}

.react-confirm-alert-yes-button {
    width: 280px;
    height: 55px;
    font-size: 30px;
    background-color: #091398;
    color: #fff;
}

.product-barcode-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.products-information-view {
    height: 57.3vh;
    background-color: #fff;
    margin: 10px;
    margin-top: 0px;
    border: 1px solid #707070;
    padding-left: 15px;
    padding-right: 15px;
}

.products-information-header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}

.products-information-header-title {
    font-size: 35px;
    justify-content: center;
    align-self: center;
    color: #000000;
    font-weight: 600;
}

.products-image-information-view {
    display: flex;
    justify-content: space-between;
}

.product-information-image {
    height: 350px;
    width: 25%;
    object-fit: contain;
    border: 1px solid #707070;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-location-information-main-view {
    width: 73%;
    height: 350px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-title-information {
    width: 39%;
    height: 350px;
}

.product-map-image {
    width: 60%;
    height: 350px;
    object-fit: contain;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-information-text {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #4E4E4E;
    opacity: 1;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
}

.product-information-text-details {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #4E4E4E;
    opacity: 1;
    margin-left: 5px;
}

.product-brand-name-information-view {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.product-brand-information-view {
    margin-left: -10px;
    margin-top: 10px;
    width: 80%;
}

.product-name-information-view {
    margin-top: 10px;
}

.product-specifications-information-main-view {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-specifications-information-main-view2 {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}

.product-specifications-information-view {
    margin-right: 20px;
}

.product-specifications-information-view2 {
    margin-right: 20px;
}

.product-category-main-view {
    width: '98%';
    max-height: 70%;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-category-title {
    font-size: 30px;
    color: #4E4E4E;
    font-weight: 600;
}

.product-search-main-view {
    margin-top: 15px;
    border: 1px solid #707070;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: '100%';
    padding-right: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.search-product-input {
    width: 90%;
    background-color: transparent;
    border: 0px solid;
    height: 55px;
    padding-top: 2px;
    margin-left: 20px;
    font-size: 30px;
    color: #777777;
}

.search-product-input:focus {
    outline: none;
}

.product-category-list-main-view {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.product-category-card {
    cursor: pointer;
    margin-top: 15px;
    font-size: 20px;
    color: #585858;
    font-weight: 600;
    margin-right: 15px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.selected-product-category-card {
    cursor: pointer;
    margin-top: 15px;
    font-size: 20px;
    background-color: #091398;
    color: #fff;
    font-weight: 600;
    margin-right: 15px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.show-selected-product-category-view {}

.selected-product-category-title-view {
    display: flex;
    margin-top: 15px;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.clear-style-products-title {
    font-size: 22px;
    color: #585858;
    font-weight: 600;
}

.favorites-product-back-icon-view {
    height: 5%;
}

.favorites-product-back-icon {
    height: 50px;
    width: 50px;
}