.product-card-swiper-main-view {
    width: 100vw;
    height: 440px;
    background-color: #fff;
    border: 1px solid #707070;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-card-swiper-arrow-left {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    cursor: pointer;
}

.product-card-swiper-arrow-right {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.product-card-main-view {
    flex-direction: column;
}

.product-swiper-card-image {
    height: 180px;
    width: 224px;
    object-fit: contain;
    border: 1px solid #707070;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-card-id-text {
    color: #4E4E4E;
    font-size: 20px;
    font-weight: 600;
    margin-top: 3px;
}