.login-screen {
    background-color: #e2ebf3;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.login-title {
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
    font-size: 30px;
    justify-content: center;
    align-self: center;
    align-items: center;
    color: #0a1498;
    font-weight: bold;
}

.login-card {
    background-color: #fff;
    width: 60%;
    padding: 35px;
}

.login-center {
    width: 70%;
    justify-content: center;
    align-items: center;
}

.login-input-label {
    font-size: 30px;
    margin-top: 20px;
    display: flex;
}

.login-input {
    width: 97%;
    font-size: 30px;
    height: 60px;
    border: 1px solid #091398;
    color: #091398;
    cursor: pointer;
    overflow: hidden;
    padding-left: 15px;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.button-submit {
    background-color: #0a1498;
    color: #ffffff;
    margin-top: 60px;
    border-radius: 10px;
    font-size: 30px;
    height: 70px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.box-shadow {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}

.button-submit:hover {
    color: #ffffff !important;
}

.error {
    color: red;
    font-size: 28px;
    margin-top: 10px;
    display: flex;
    align-Self: center;
}