.loading {
    display: flex;
    justify-content: center;
}

.loading-inactive {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-color: #8F96F2;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.loading-active {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    background-color: #091398;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}