/*Find Your Size Modal*/
.find-your-size-modal {
    margin-top: 90px;
    height: 85vh;
    background-color: #e1ebf3;
    padding: 0 20px;
}

.find-your-size-modal-header {
    padding-top: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

.find-your-size-modal-header-step-2 {
    padding-top: 110px;
}

.find-your-size-modal-header-title {
    color: #4e4e4e;
    font-size: 40px
}

.find-your-size-modal-body {
    margin: 0 20px;
}

.enter-your-size-title {
    color: #4e4e4e;
    font-size: 35px;
    margin: 0;
}

.measurement-type-view {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.measurement-type-switch-main {
    display: flex;
    justify-content: space-between;
    width: 180px;
    align-items: center;
    font-size: 30px;
    color: #4e4e4e;
    font-weight: 600;
}

.measurement-type-switch {
    width: 60px;
    height: 35px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.measurement-type-switch-on-off {
    background-color: #fff;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.measurement_size_main_form_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.measurement_size_form_group {
    position: relative;
    padding: 20px 15px;
    width: 16%;
    margin: 40px 20px 0;
    border: 2px solid #091398;
    border-radius: 5px;
    display: flex;
}

.measurement_size_form_field {
    width: 50%;
    outline: 0;
    border: 0;
    font-size: 30px;
    color: #091398;
    background: transparent;
}

.measurement_size_form_field::placeholder {
    color: transparent;
}

.measurement_size_form_field:placeholder-shown~.measurement_size_form_label {
    font-size: 30px;
    cursor: text;
    top: 20px;
}

.measurement_size_type {
    font-size: 25px;
    color: #091398;
    margin: 0;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.measurement_size_form_label {
    position: absolute;
    top: -20px;
    left: 10px;
    padding: 0 10px;
    display: block;
    transition: 0.2s;
    font-size: 22px;
    color: #091398;
    background-color: #e1ebf3;
}

.measurement_size_form_field:focus~.measurement_size_form_label {
    position: absolute;
    top: -20px;
    left: 10px;
    padding: 0 10px;
    display: block;
    transition: 0.2s;
    font-size: 30px;
    color: #091398;
}

.next-step-btn {
    justify-content: center;
    display: flex;
    margin-top: 100px
}

.next-step-btn-title {
    background-color: #091398;
    color: #fff;
    height: 70px;
    width: 200px;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.disabled-next-step-btn {
    background-color: #666666 !important;
}

.recommended-new-size-step-btn-title {
    background-color: #091398;
    color: #fff;
    height: 90px;
    width: 100%;
    display: flex;
    font-size: 45px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/*Recommended Size css*/

.product-image {
    height: 500px;
    width: 325px;
    margin-right: 50px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.size-selector {
    display: grid;
    align-items: end;
}

.product-image-and-content {
    display: flex;
}

.brand-name {
    font-size: 25px;
    margin: 0;
}

.product-name {
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 12px;
    font-size: 40px;
}

.strikethrough {
    position: relative;
    /*margin: 0;*/
    /*color: red;*/
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    /*border-color: inherit;*/
    color: red;

    /*-webkit-transform:rotate(50deg);*/
    /*-moz-transform:rotate(50deg);*/
    /*-ms-transform:rotate(50deg);*/
    /*-o-transform:rotate(50deg);*/
    transform: rotate(23deg);
}

.original-cost {
    font-size: 30px;
    margin-bottom: 0;
}

.discounted-cost {
    font-size: 50px;
    margin-top: 5px;
    color: #4e4e4e;
}

.size-selector-button {
    display: flex;
    align-items: center;
}

.size-selector-label {
    font-size: 35px;
    margin-bottom: 10px
}

.size-selector-arrow-left {
    /*height: 34px;
    */border: 2px solid darkblue;
    border-radius: 50px 0 0 50px;
    padding: 7px 12px 7px 12px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
}

.size-selector-arrow-right {
    /*height: 34px;*/
    border: 2px solid darkblue;
    border-radius: 0 50px 50px 0;
    padding: 7px 12px 7px 12px;
}

.size-number {
    font-size: 34px;
    margin: 0;
    background: darkblue;
    color: white;
    padding: 6px 17px 7px;
}

.cloth-fitting {
    font-size: 38px;
    color: #091398;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selector-view {
    width: 48%;
}

.selector-title {
    margin: 20px 0 10px 0;
}

.find-your-size-modal-back-icon {
    color: #0a1498;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.manage-size-icon {
    color: #0a1498;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.preferred-size-main-modal {
    justify-content: center;
    padding: 0 20px;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    position: absolute;
    align-items: center;
}

.preferred-size-modal {
    height: 400px;
    background-color: #ffffff;
    padding: 0 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.preferred-size-modal-title {
    text-align: center;
    letter-spacing: 0px;
    color: #101A9B;
    opacity: 1;
    font-size: 28px;
    margin: 0px;
}

.previous-step-btn-title {
    background-color: #091398;
    color: #fff;
    height: 70px;
    width: 350px;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.go-home-btn-title {
    margin-left: 20px;
    border: 1px solid #091398;
    color: #091398;
    height: 70px;
    width: 200px;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}