.App {
    text-align: center;
}

.display-row {
    display: flex;
    flex-direction: row
}

.border-none {
    border: none
}

.cursor-pointer {
    cursor: pointer
}

.display-flex {
    display: flex
}

.align-items-center {
    align-items: center
}

.justify-content-center {
    justify-content: center
}

.justify-content-space-between {
    justify-content: space-between
}

.justify-content-space-evenly {
    justify-content: space-evenly
}

.justify-content-end {
    justify-content: flex-end
}

.align-self-center {
    align-self: center
}

.height-0 {
    height: 0
}

.height-100 {
    height: 100%
}

.width-0 {
    width: 0
}

.margin-top-15 {
    margin-top: 15px;
}

.display-inline-block {
    display: inline-block
}

.display-none {
    display: none
}

.flex-direction-column {
    flex-direction: column
}

.color-red {
    color: red
}

.left {
    left: 0
}

.right {
    right: 0
}

.top {
    top: 0
}

.bottom {
    bottom: 0
}

.position-fixed {
    position: fixed
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

select {
    background-color: #fff !important;
}

input:focus {
    outline: 0;
}

select:focus {
    background-color: #fff !important;
    outline: 0;
}

option {
    font-size: 10px !important;
    height: 10px !important;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e2ebf3;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
    cursor: pointer;
}

#__react-alert__ div {
    z-index: 999999 !important;
    margin-top: 30px !important;
}

#__react-alert__ div div div {
    padding: 20px !important;
    width: 520px !important;
}

#__react-alert__ div div div svg {
    height: 50px !important;
    width: 50px !important;
}

#__react-alert__ div div div span {
    font-size: 22px !important;
}