body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.keyboard-blackout-background {
    z-index: 999;
}

.keyboard-wrapper {
    z-index: 9999;
}

[data-rsbs-overlay], [data-rsbs-backdrop], [data-rsbs-root]:after {
    z-index: 9999;
}