.product-find-box {
    border-top: 1px ridge grey;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 115px;
}

.product-find-box-title {
    margin-left: 20px;
    color: #0a1498;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.right-arrow {
    -webkit-filter: brightness(5000%);
    font-size: 20px;
}

.menu-item {
    background-color: #efefef;
    padding: 5px 15px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
    font-size: 13px;
    color: #0a1498;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.menu-wrapper {
    width: 100%;
}

.menu-wrapper .menu-item-wrapper {
    white-space: nowrap;
    text-align: left;
    transform: translate3d(-20.117px, 0px, 0px);
    -webkit-transform: translate3d(-20.117px, 0px, 0px);
    -moz-transform: translate3d(-20.117px, 0px, 0px);
    -ms-transform: translate3d(-20.117px, 0px, 0px);
    -o-transform: translate3d(-20.117px, 0px, 0px);
}

.scroll-menu-arrow {
    cursor: pointer;
}

.input-border {
    border: 1px ridge #c1c1c1;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 10px;
    width: 90%;
    height: 30px;
    overflow: hidden;
}

.search-input {
    width: 90%;
    background-color: transparent;
    border: 0px solid;
    height: 30px;
    margin-left: 10px;
}

.search-input:focus {
    outline: none;
}

.micro-img {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    -webkit-filter: brightness(5000%);
}

.bg-icon {
    background-color: #0a1498;
    color: #ffffff;
    border-radius: 100%;
    margin-left: 15px;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;
}

.send-bg-icon {
    background-color: #0a1498;
    color: #ffffff;
    padding-right: 10px;
    cursor: pointer;
}

.input-group-prepend {
    display: flex;
    justify-content: flex-end;
}

.set-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27px;
    color: #0a1498;
}

.stop-record-voice-btn {
    height: 40px;
    width: 40px;
}

::placeholder {
    color: gray;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: gray;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: gray;
}