/* @media (min-width: 1080px) and (min-height: 1980px) { */
@media (min-width: 1080px) and (min-height: 1680px) {

    /* Login Screen */
    .login-title {
        display: flex;
        padding-top: 10px;
        padding-bottom: 30px;
        width: 100%;
        font-size: 50px;
        justify-content: center;
        align-self: center;
        align-items: center;
        color: #0a1498;
        font-weight: bold;
    }

    /* Home Screen */
    .dave-ai-logo-header {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 210px;
        height: auto;
        align-self: center;
    }

    .carousel-card-main {
        width: 100%;
        height: 100%;
        background-color: #fff;
    }

    .scanner-qr-code-view {
        height: 110px;
        width: 45%;
        background-color: #0a1498;
        margin-Top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        display: flex;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }

    .scanner-logo {
        width: 100px;
        height: 80px;
        -webkit-filter: brightness(5000%);
    }

    .scanner-title {
        color: #fff;
        font-weight: bold;
        margin: 0px;
        margin-left: 35px;
        font-size: 35px;
        justify-content: center;
        align-self: center;
        align-items: center;
        display: flex;
    }

    .home-top-card-title {
        font-size: 50px;
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
        color: #000;
    }

    .home-top-card-offer {
        font-size: 120px;
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
        color: #000;
        margin-top: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tc-apply-view {
        width: 90%;
        justify-content: flex-end;
        display: flex;
        margin-bottom: 15px;
    }

    .tc-apply-text {
        font-size: 30px;
    }

    .product-find-box {
        border-top: 2px ridge grey;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        height: 215px;
    }

    .product-find-box-title {
        margin-left: 20px;
        color: #0a1498;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .menu-item {
        background-color: #efefef;
        padding: 8px 18px;
        margin: 8px 13px;
        user-select: none;
        cursor: pointer;
        border: none;
        font-size: 28px;
        color: #0a1498;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .right-arrow {
        font-size: 50px;
        color: #fff;
    }

    .input-border {
        border: 2px ridge #c1c1c1;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        width: 90%;
        height: 60px;
        align-self: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .search-input {
        width: 90%;
        background-color: transparent;
        border: 0px solid;
        height: 60px;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: 10px;
    }

    .send-input-btn {
        cursor: pointer;
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }

    .bg-icon {
        background-color: #0a1498;
        color: #ffffff;
        border-radius: 100%;
        height: 70px;
        width: 70px;
        margin-right: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    .microphone-icon {
        height: 40px;
        width: 40px;
        margin-top: -2px;
    }

    .scan-qr-close-modal-view {
        width: 100%;
        background-color: #fff;
        cursor: pointer;
        position: fixed;
        top: 0px;
        z-index: 999;
    }

    .qr-image-wrapper-border {
        z-index: 5;
        border: 3px solid #091398 !important;
        background-color: #707070;
        width: 350px;
        height: 350px;
        overflow: hidden;
        align-self: center;
    }

    .scan-qr-close-modal-icon {
        height: 35px;
        width: 35px;
        justify-content: center;
        align-self: center;
        display: flex;
        margin-right: 2px;
    }

    .ReactModal__Overlay {
        /*background-color: #707070 !important;*/
        /*bottom: 215px !important;*/
        z-index: 9;
    }

    .qr-scanner-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 116px;
    }

    .scan-any-qr-code-text {
        color: #fff;
        margin-top: 80px;
        font-weight: 600;
        margin-bottom: 50px;
        font-size: 35px;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .scan-any-qr-code-data {
        color: #fff;
        font-size: 22px;
        padding-top: 15px;
        margin: 0px;
        font-weight: 600;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .qr-within-the-scanner {
        color: #fff;
        margin-top: 20px;
        font-weight: 600;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 35px;
    }

    .inactive-page-dots {
        margin-right: 10px;
        height: 12px;
        width: 12px;
        background-color: #7a7a7a;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    .active-page-dots {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        background-color: #7a7a7a;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    .active-page-dots-view {
        flex-direction: row;
        display: flex;
        margin-top: -45px;
        z-index: 1;
        align-items: center;
    }

    /* Header */
    .header-top {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        left: 0px;
        right: 0px;
        z-index: 9999;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 4px 12px -6px black;
    }

    .header-back-icon {
        margin-left: 10px;
        color: #0a1498;
        cursor: pointer;
        font-size: 40px;
    }

    .home-btn-view {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-btn {
        margin-left: 10px;
        background-color: #0a1498;
        color: #ffffff;
        cursor: pointer;
        border: 2px solid white;
        border-radius: 10px;
        height: 70px;
        width: 180px;
        font-size: 30px;
    }

    .fa-home {
        margin-right: 10px;
    }

    .fav-btn-view {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fav-btn {
        margin-right: 10px;
        background-color: #0a1498;
        color: #ffffff;
        cursor: pointer;
        border: 2px solid white;
        border-radius: 10px;
        height: 70px;
        width: 200px;
        font-size: 30px;
    }

    .header-close-btn {
        margin-right: 10px;
        background-color: #0a1498;
        color: #ffffff;
        cursor: pointer;
        border: 2px solid white;
        border-radius: 10px;
        height: 70px;
        width: 70px;
        padding-top: 16px;
        padding-left: 16px;
        font-size: 30px;
        margin-left: 130px
    }

    .dave-header-logo {
        width: 210px;
        height: auto;
    }

    .heart-icon-header {
        margin-right: 10px;
        height: 35px;
        width: 35px;
    }


    /* Loading */
    .loading-inactive {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        background-color: #8F96F2;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }

    .loading-active {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        background-color: #091398;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }


    /* Product Screen */
    .qr-code-close-modal {
        background-color: #fff;
        font-size: 60px;
        cursor: pointer;
        padding: 0px
    }

    .qr-code-scan-title {
        margin-top: 10;
        color: #666666;
        justify-content: center;
        align-self: center;
        text-align: center;
        width: 80%;
        font-size: 30px;
    }

    .qr-code-enter-mobile-no-title {
        margin-top: 25px;
        color: #666666;
        font-size: 26px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .qr-code-box {
        border: 0.5px solid #707070;
        justify-content: center;
        align-self: center;
        display: flex;
        padding: 10px;
        margin-top: 15px;
    }

    .input-border-mobile-number {
        border: 1px ridge #c1c1c1;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 60px;
        margin-top: 15px;
    }

    .mobile-number-input {
        width: 100%;
        background-color: transparent;
        border: 0px solid;
        height: 60px !important;
        font-size: 30px;
    }

    .mobile-number-input:focus {
        outline: none;
    }

    .ReactModal__Content {
        top: 50% !important;
        left: 50% !important;
        right: auto !important;
        bottom: auto !important;
        margin-right: -50% !important;
        /*height: 50% !important;*/
        /*width: 70% !important;*/
        overflow: hidden !important;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    .qr-code-box canvas {
        height: 300px !important;
        width: 300px !important;
    }

    .input-border-mobile-number {
        border: 2px ridge #c1c1c1;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 55px;
        margin-top: 25px;
    }

    .mobile-number-input {
        width: 250px;
        font-size: 30px;
        background-color: transparent;
        border: 0px solid;
        height: 55px !important;
    }

    .phone-send-icon {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        height: 30px;
        width: 30px
    }

    .phone-number-error {
        color: red;
        font-size: 28px;
        font-weight: 600;
        margin-top: 20px;
        justify-content: center;
        display: flex;
        align-Self: center;
    }

    .product-image-alert-view-true {
        display: flex;
        height: 10%;
        width: 100%;
    }

    .product-image-alert-view {
        display: flex;
        width: 100%;
        height: 10%;
    }

    .img-warning-icon {
        height: 40px;
        width: 40px;
        align-self: center;
    }

    .img-warning-text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        color: #4E4E4E;
        font-size: 23px;
    }

    .product-like-main-view {
        position: absolute;
        margin-top: 15px;
        display: flex;
        right: 50%;
        margin-right: 20px
    }

    .product-like-view {
        height: 50px;
        width: 50px;
        overflow: hidden;
        background-color: #091398;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .product-like-icon {
        height: 35px;
        width: 35px;
    }

    .product-img-right-icon-view {
        height: 50px;
        width: 50px;
        overflow: hidden;
        cursor: pointer;
        margin-left: 15px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .product-img-right-icon {
        height: 51px;
        width: 51px;
    }

    .product-title-image {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .product-image-border {
        border: 2px solid #707070;
        overflow: hidden;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .collection-title {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0px;
        font-size: 24px;
        font-weight: 600;
        color: #4E4E4E;
    }

    .collection-title-2 {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0px;
        font-size: 28px;
        font-weight: 600;
        color: #0D0D0D;
        padding-top: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-slider-image {
        width: 100%;
        height: 290px;
        background-color: #fff;
        cursor: pointer
    }

    .cross-price {
        position: relative;
        display: inline-block;
        color: #948D8D;
        font-size: 24px;
    }

    .cross-price::before,
    .cross-price::after {
        content: '';
        width: 100%;
        position: absolute;
        right: 0;
        top: 50%;
    }

    .cross-price::after {
        border-bottom: 2px solid #F84646;
        -webkit-transform: skewY(10deg);
        transform: skewY(10deg);
    }

    .real-price {
        color: #4E4E4E;
        font-size: 40px;
        font-weight: 700;
    }

    .like-product-view {
        background-color: #091398;
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    .like-product-icon {
        height: 28px;
        width: 28px;
    }

    .share-product-view {
        background-color: #091398;
        width: 50px;
        height: 50px;
        padding-right: 3px;
        margin-left: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    .share-product-icon {
        height: 22px;
        width: 22px;
    }

    .availability-price-title {
        font-size: 20px;
        color: #4E4E4E;
        font-weight: 600;
    }

    .drop-down-main-view {
        background-color: #091398;
        width: 100%;
        height: 70px;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        flex-direction: row;
        display: flex;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }


    .submit-filter-btn-view {
        width: 100%;
        height: 70px;
        margin-top: 8px;
        margin-bottom: 20px;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        flex-direction: row;
        display: flex;
    }

    .form-control-choose-size {
        width: 95%;
        height: 50px;
        border-radius: 10px;
        border: 0px solid #091398;
        color: #091398;
        cursor: pointer;
        overflow: hidden;
        padding-left: 15px;
        font-size: 25px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .form-control-choose-size-box-show {
        box-shadow: 0px 0px 6px #00000029;
        margin-top: 5px;
    }

    .form-control-choose-size-2 {
        width: 95%;
        font-size: 15px;
        height: 50px;
        border-radius: 10px;
        border: 0px solid #091398;
        color: #091398;
        cursor: pointer;
        overflow: hidden;
        padding-left: 15px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .form-control-choose-size select,
    .form-control-choose-size-2 select {
        border: 0px solid #091398;
        display: block;
        border: 0px;
        width: 70%;
    }

    .find-your-size-logo {
        height: 38px;
        width: 45px;
        -webkit-filter: brightness(50%);
        margin-right: 15px;
    }

    .find-your-size-title {
        color: #091398;
        font-size: 25px
    }

    .product-information-btn-main-view {
        background-color: #fff;
        width: 100%;
        height: 70px;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        flex-direction: row;
        display: flex;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .view-information-logo {
        height: 30px;
        width: 30px;
        margin-left: 5px;
    }

    .customize-logo {
        height: 40px;
        width: 40px;
        margin-left: 5px;
    }

    .information-title {
        color: #fff;
        font-size: 30px
    }

    .filter-title {
        color: #4E4E4E;
        font-size: 30px;
        font-weight: 600
    }

    .basic-information-input-title {
        font-weight: bold;
        font-size: 26px;
    }

    .basic-information-input-title-view {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .form-control-choose-size-2 {
        width: 95%;
        font-size: 25px;
        height: 54px;
        border-radius: 10px;
        border: 0px solid #091398;
        color: #091398;
        cursor: pointer;
        overflow: hidden;
        padding-left: 15px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .show-related-products-title {
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 15px;
        color: #4E4E4E;
        font-size: 30px;
        font-weight: 600
    }

    .show-related-products-not-found-title {
        color: #4E4E4E;
        font-size: 25px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        height: 217px;
        align-items: center;
    }

    .horizontal-product-card {
        height: 215px;
        width: 300px;
        background-color: #fff;
        border: 0.5px solid #707070;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 8px;
        margin-top: 8px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .horizontal-product-card-box-shadow {
        height: 215px;
        width: 300px;
        background-color: #fff;
        border: 2px solid #091398;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 8px;
        margin-top: 8px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .swipe-arrow-left {
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
        cursor: pointer
    }

    .swipe-arrow-right {
        width: 30px;
        height: 30px;
        cursor: pointer
    }

    .horizontal-card-product-title {
        color: #101A9B;
        font-size: 20px;
    }

    .horizontal-card-product-size {
        color: #4E4E4E;
        font-size: 20px;
        font-weight: 600;
        margin-top: 5px;
    }

    .horizontal-card-product-cross-price {
        font-size: 20px;
        margin-top: 5px;
    }

    .horizontal-card-product-sell-price {
        color: #4E4E4E;
        font-size: 24px;
        font-weight: 900;
        margin-top: 5PX
    }

    .horizontal-card-product-share-icon-view {
        margin-top: 10px;
        width: 40px;
        height: 40px;
        background-color: #091398;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 3px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    .horizontal-card-product-share-icon {
        height: 20px;
        width: 20px;
    }
}